In [1]:
import pandas as pd

df = pd.read_csv('./exemplo2.csv')

In [2]:
df

          idade  conta_corrente risco
0     21.257389      783.127911  ruim
1     21.766573      979.747521   bom
2     25.321033     1065.328054  ruim
3     23.919268     1195.758078   bom
4     21.805298     1083.764450   bom
...         ...             ...   ...
2495  63.840703     2847.204903  ruim
2496  57.367341     3238.149058   bom
2497  65.785408     2603.620751  ruim
2498  52.944838     2985.948214  ruim
2499  52.426936     3673.193947   bom

[2500 rows x 3 columns]

In [6]:
df.describe

<bound method NDFrame.describe of           idade  conta_corrente risco
0     21.257389      783.127911  ruim
1     21.766573      979.747521   bom
2     25.321033     1065.328054  ruim
3     23.919268     1195.758078   bom
4     21.805298     1083.764450   bom
...         ...             ...   ...
2495  63.840703     2847.204903  ruim
2496  57.367341     3238.149058   bom
2497  65.785408     2603.620751  ruim
2498  52.944838     2985.948214  ruim
2499  52.426936     3673.193947   bom

[2500 rows x 3 columns]>

In [7]:
df.columns

Index(['idade', 'conta_corrente', 'risco'], dtype='object')